{% extends 'base.html.twig' %}

{% block title %}{{ enterprise.name }}{% endblock %}

{% block body %}
    <div class="d-flex m-4">
        <h1 class="d-flex mx-auto">{{ enterprise.name }}</h1>
        {# {% set break = false %}
        {% if is_granted('ROLE_CONSUMER') %}
            {% for bookmark in app.user.consumer.bookmarks if not break %}
                {% if bookmark != enterprise %}
                    <a href="{{ path('add_bookmark_etp', { 'id': enterprise.id }) }}">
                    <img src="https://img.icons8.com/cotton/64/000000/like--v4.png" style="height:3rem;" alt="Ajouter aux favoris"/>
                    </a>
                {% else %}
                    <a href="{{ path('remove_bookmark', { 'id': enterprise.id }) }}">
                    <img src="https://img.icons8.com/cotton/64/000000/like--v3.png" style="height:3rem;" alt="Supprimer des favoris"/>
                    </a>
                    {% set break = true %}
                {% endif %}
            {% endfor %}
            
        {% endif %} #}

        {% if is_granted('ROLE_CONSUMER') %}
            <a href="{{ path('add_bookmark_etp', { 'id': enterprise.id }) }}">
            <img src="https://img.icons8.com/cotton/64/000000/like--v4.png" style="height:3rem;" alt="Ajouter aux favoris"/>
            </a>
        {% endif %}
        {% if is_granted('ROLE_CONSUMER') %}
            <a href="{{ path('remove_bookmark', { 'id': enterprise.id }) }}">
            <img src="https://img.icons8.com/cotton/64/000000/like--v3.png" style="height:3rem;" alt="Supprimer des favoris"/>
            </a>
        {% endif %}
    </div>
    <div></div>
    <div class="container-fluid d-flex">
        <div class="container-fluid col-6">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Note :</th>
                    <td class="font-weight-light border-0">
                        {% if enterprise.note == 1 %}⭐
                        {% elseif enterprise.note == 2 %}⭐⭐
                        {% elseif enterprise.note == 3 %}⭐⭐⭐
                        {% elseif enterprise.note == 4 %}⭐⭐⭐⭐
                        {% elseif enterprise.note == 5 %}⭐⭐⭐⭐⭐
                        {% else %} {{ enterprise.note }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Nom de l'entreprise:</th>
                    <td class="font-weight-light border-0">{{ enterprise.name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Adresse:</th>
                    <td class="font-weight-light border-0">{{ enterprise.adress }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Contact:</th>
                    <td class="font-weight-light border-0">{{ enterprise.user.email }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Nom du contact:</th>
                    <td class="font-weight-light border-0">{{ enterprise.user.firstname }} {{ enterprise.user.lastname }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Fonction du contact:</th>
                    <td class="font-weight-light border-0">{{ enterprise.contactFunction }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Catégorie d'entreprise:</th>
                    <td class="font-weight-light border-0">{{ enterprise.category }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Site web:</th>
                    <td class="font-weight-light border-0"><a href="{{ enterprise.website }}" target="_website">{{ enterprise.website }}</a></td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Documents:</th>
                    <td class="font-weight-light border-0">
                        {% for doc in enterprise.documents %}
                            <p><a href="{{ doc }}">Document {{ loop.index }}</a></p>
                        {% endfor %}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold border-0">Recommandation:</th>
                    {% if recommandation != null %}
                        {% if enterprise.note >= 4 %}
                        <td class="font-weight-light border-0"><a href="{{ path('recommandation_show', {'id': recommandation.id}) }}">Voir plus</a></td>
                        {% else %}
                        <td>Visible à partir de 4 étoiles</td>
                        {% endif %}
                    {% else %}
                    <td>Aucune recommandation</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <img src="{{ asset('uploads/' ~ enterprise.logo) }}" alt="enterprise's logo" class="img-thumbnail">
        </div>
    </div>

    <hr/>

    <h2 class="text-center m-4">Quels sont mes engagements ?</h2>
    <div class="row">
        {% for eng in enterprise.engagements %}
            <div class="card col-6">
                <div class="card-body">
                    <h2 class="card-title text-center">{{ eng.name }}</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Categories RSE</h6>
                    <ul>
                        {% for cat in eng.rse %}
                            <li>{{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                    <h4 class="card-text">Quelles actions sont mises en place pour y répondre ?</h4>
                    <p>{{ eng.actionText }}</p>
                    <h4 class="card-text">Quels résultats obtenus ?</h4>
                    <p>{{ eng.resultsText }}</p>
                    <h4 class="card-text">Quels documents pour les résultats ?</h4>
                    <ul>
                        {% for doc in eng.resultsDocuments %}
                            <li><a href="{{ asset('uploads/' ~ doc) }}">Document {{ loop.index }}</a></li>
                        {% endfor %}
                    </ul>
                    <h4 class="card-text">Quelles preuves fournies ?</h4>
                    <p>{{ eng.proofText }}</p>
                    <h4 class="card-text">Quels documents pour les preuves ?</h4>
                    <ul>
                        {% for doc in eng.proofDocuments %}
                            <li><a href="{{ asset('uploads/' ~ doc) }}">Document {{ loop.index }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr/>

    <h2 class="text-center m-4">Les challenges</h2>
    <div class="container-fluid d-flex">
        {% for cha in enterprise.challenges %}
            <div class="card col-5 m-5">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ cha.name }}</h3>
                    <h4 class="card-text">Description</h4>
                    <p>{{ cha.description }}</p>
                    <h4 class="card-text">Réponse</h4>
                    <p>{{ cha.response }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr/>

    <h2 class="text-center m-4">Avis experts</h2>
    <div class="row justify-content-center">
        {% for op in experts %}
        {% if op.enterprise.id == enterprise.id %}
            <div class="card col-10 col-lg-5 m-2">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ op.depositary.firstname }} {{ op.depositary.lastname }} </h3>
                    <h4 class="card-text">Avis: </h4>
                    <p>{{ op.text }}</p>
                    <a class="btn btn-success" href="{{ path('opinion_show', { 'id': op.id }) }}">Consulter</a>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>

    <hr/>

    <h2 class="text-center m-4">Avis consommateurs</h2>
    <div class="row justify-content-center">
        {% for op in consummers %}
        {% if op.enterprise.id == enterprise.id %}
            <div class="card col-10 col-lg-5 m-2">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ op.depositary.firstname }} {{ op.depositary.lastname }}</h3>
                    <h4 class="card-text">Avis: </h4>
                    <p>{{ op.text }}</p>
                    <a class="btn btn-success" href="{{ path('opinion_show', { 'id': op.id }) }}">Consulter</a>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}
