{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstName }} account{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-5 mx-auto">
            <h1 class="mx-auto text-center">Mon compte</h1>
        </div>
        <div class="row col-8 mx-auto">
            <p class="mx-auto text-center">M./Mme. {{ expert.user.lastName }} {{ expert.user.firstName }}
                ,{{ app.user.email }}</p>
        </div>
        <div class="row col-12">
            <a class="mx-auto text-center col-3 btn btn-outline-secondary" role="button"
               href="{{ path('expert_edit', {'id': expert.id}) }}">Modifier mes
                informations</a>
            <a class="mx-auto text-center col-3 btn btn-outline-secondary" role="button"
               href="{{ path('engagement_new') }}">Déposer un
                engagement</a>
            <a class="mx-auto text-center col-3 btn btn-outline-secondary" role="button"
               href="{{ path('enterprise_opinions') }}">Avis sur mon
                entreprise</a>
            <a class="mx-auto text-center col-3 btn btn-outline-secondary" href="{{ path('show_challenges') }}">Challenge</a>
        </div>
    </div>
    <hr>
    <div class="row px-2 py-2" style="background-color: rgba(128,128,128,0.25)">
        <div class="container-fluid col-10 mx-auto">
            <div class="row">
                <p class="font-weight-bold">Adresse : </p>
                <p class="mx-2"> {{ expert.adress }}</p>
            </div>
            <div class="row">
                <p class="font-weight-bold">Téléphone : </p>
                <p class="mx-2"> {{ expert.phone }}</p>
            </div>
            <div class="row">
                <p class="font-weight-bold">Structure de rattachement : </p>
                <p class="mx-2"> {{ expert.connectingStructure }}</p>
            </div>
        </div>
    </div>
{% endblock %}
