{% extends 'base.html.twig' %}
{% block title %}Brandvisor{% endblock %}
{% block body %}
    {% include '/home/roles.html.twig' %}
    <div class="container-fluid d-flex mt-4">
        <div class="container-fluid col-9">
            <div class="row">
                {# Inclusion de l'affichage des menus déroulants inérants aux rôles#}
                
                {#~~~~~~~~~~~#}
                <div class="text-center mx-auto">
                    <h1>Bienvenue sur Brandvisor !</h1>
                    <p class="font-italic">Le site où exprimer ce que vous faites de bien pour la société et l'environnement en toute
                        transparence</p>
                </div>
                {# Inclusion du formulaire et affichage des résultats#}
                {% include '/home/research.html.twig' %}
            </div>
            {#~~~~~~~~~~#}

            <div class="container-fluid">
                {# Section "Les Objectifs"#}
                <div class="row text-center bg-white mb-2">
                    {#Texte#}
                    <div class="col-6 my-auto ">
                        <h3>Les Objectifs</h3>
                        <p>Vous pensez que le partage des projets et des initiatives entre tous peut conduire à un monde
                            meilleur.</p>
                        <p>Vous pensez qu'évaluer les entreprises et les marques sur leurs reponsabilités sociales et
                            environnementales va les inciter à s'améliorer.</p>  
                        <p>Vous pensez que les marques ont besoin de s'engager vers plus de transparence et ont des
                            choses à faire valoir.</p>
                    </div>
                    {#Image#}
                    <div class="col-6 my-auto">
                        <img src="{{ asset('images/Baobabos-small.jpg') }}" alt="" width="100%">
                    </div>
                </div>
                {#~~~~~~~~~~~~~#}
                {# Section "Nous sommes tous acteurs du changement"#}
                <div class="row text-center bg-black-50 mb-2">
                    {#Image#}
                    <div class="col-6 my-auto ">
                        <img src="{{ asset('images/fleur.jpeg') }}" alt="" width="100%">
                    </div>
                    {#Texte#}
                    <div class="col-6 my-auto">
                        <h3>Nous sommes tous acteurs du changement</h3>
                        <p>Brandvisor réunit les entreprises, engagées dans une démarche de développement durable et de transparence, les consommateurs, à la recherche d'un mode de consommation écoresponsable, et des experts qui apportent un éclairage supplémentaire.</p>
                    </div>
                </div>
                {#~~~~~~~~~~~~~#}
                {# Section "Entreprises à l'honneur + initiatives les + likées"#}
                <div class="row text-center bg-white mb-2">
                    {#Entreprise par notes #}
                    <div class="col-6">
                        <h3>Entreprises à l'honneur</h3>
                        <div id="enterprises" class="carousel slide mb-2" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for enterpriseNote in enterpriseNotes %}
                                    <li data-target="#enterprises" data-slide-to="{{ loop.index }}" class="{{ loop.first ? 'active' : ' ' }}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for enterpriseNote in enterpriseNotes %}
                                    <div class="{{ loop.first ? 'carousel-item active' : 'carousel-item' }}">
                                        <a href="{{ path('show_enterprise', {'id': enterpriseNote.id }) }}"><img class="d-block w-100" src="{{ asset('uploads/' ~ enterpriseNote.logo) }}" alt=""></a>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="bg-info rounded">{{ enterpriseNote.name }}</h5>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#enterprises" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#enterprises" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    {# Section "initiatives les + likées"#}
                    <div class="col-6">
                        <h3>Initiatives à l'honneur</h3>
                        <div id="initiatives" class="carousel slide mb-2" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for initiativeLike in initiativeLikes %}
                                    <li data-target="#initiatives" data-slide-to="{{ loop.index }}" class="{{ loop.first ? 'active' : ' ' }}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for initiativeLike in initiativeLikes %}
                                    <div class="{{ loop.first ? 'carousel-item active' : 'carousel-item' }}">
                                        <a href="{{ path('initiative_show', { 'id': initiativeLike.id } ) }}"><img class="d-block w-100" src="{{ asset('uploads/' ~ initiativeLike.illustration) }}" alt=""></a>
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 class="bg-info rounded">{{ initiativeLike.name }}</h5>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#initiatives" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#initiatives" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                {#~~~~~~~~~~~~~#}
                {# Section "Paroles de consommateur + expert"#}
                <div class="row text-center bg-black-50 mb-2">
                    {# Paroles de consommateur #}
                    <div class="col-6">
                        <h3>Avis de consommateurs</h3>
                        {% for consumerAdvice in consumerAdvices|slice(0, 2) %}
                            <a href="{{ path('opinion_show', { 'id': consumerAdvice.id }) }}"
                               class="text-decoration-none text-dark">

                                <div class="bg-white rounded p-2 m-2">
                                    <h5><b>Avis sur {{ consumerAdvice.enterprise.name }}</b></h5>
                                    <p class="text-truncate">{{ consumerAdvice.text }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {# Section "Paroles d'expert"#}
                    <div class="col-6">
                        <h3>Paroles d'experts</h3>
                        {% for expertAdvice in expertAdvices|slice(0, 2) %}
                            <a href="{{ path('opinion_show', { 'id': expertAdvice.id }) }}"
                               class=" text-decoration-none text-dark">
                                <div class="bg-white rounded p-2 m-2">
                                    <h5><b>{{ expertAdvice.depositary.fullName }}, avis
                                        sur {{ expertAdvice.enterprise.name }}</b></h5>
                                    <p class=" text-truncate">{{ expertAdvice.text }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {# SideBar #}
        <div class="container-fluid col-3">
            {# Section "Challenge du Jour"#}
            <div class="row mt-3 bg-white">
                <div>
                    <div class="mx-auto text-center">
                        <h3 class="bg-yellow text-white p-2 ">Challenge du jour</h3>
                    </div>
                    <div class="card bg-transparent">
                        <div class="card-body p-2">
                            <h5 class="card-title text-center"><b>{{ dayChallenge.name }}</b></h5>
                            <p class="card-text text-center">{{ dayChallenge.description }}</p>
                            <p class="card-text text-center font-italic">Nombre de votes: {{ votes }}</p>
                            {% if is_granted('ROLE_CONSUMER') or is_granted('ROLE_EXPERT') %}
                                {% set vote = false %}
                                {% for like in app.user.likes %}
                                    {% if like.name == dayChallenge.name %}
                                        {% set vote = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if vote == true %}
                                    <a href="{{ path('vote_challenge', { 'id': dayChallenge.id }) }}"
                                       class="disabled btn btn-dark card-link w-100">Vous avez déja voté pour ce
                                        challenge</a>
                                {% else %}
                                    <a href="{{ path('vote_challenge', { 'id': dayChallenge.id }) }}"
                                       class="btn btn-dark card-link w-100">Voter pour ce challenge</a>
                                {% endif %}
                            {% endif %}
                            <a href="{{ path('challenge_index') }}" class="btn btn-dark card-link w-100 m-0 mt-1">Voir tous les challenges</a>
                        </div>
                    </div>
                </div>
            </div>
            {#~~~~~~~~#}
            <hr/>
            {# Section "Thématique à l'honneur"#}
            <div class="row mt-3 bg-white">
                <div>
                    <div class="mx-auto text-center">
                        <h3 class="bg-yellow text-light p-2">Thématique du jour</h3>
                    </div>
                    <div class="mx-auto text-center">
                        <h5><b>{{ thematique.name }}</b></h5>
                    </div>
                </div>
            </div>
            {#~~~~~~~~~~~~~#}
            <hr/>
            {# Section "Fil d'actualité"#}
            <div class="row mt-3 bg-white">
                <div>
                    <div class="mx-auto text-center">
                        <h3 class="bg-yellow text-light p-2 ">Fil d'actualités</h3>
                    </div>
                    <div class="mx-auto text-center">
                        {% for new in news %}
                            <h5><b>{{ new.title }}</b></h5>
                            <p class="font-italic">{{ new.date|date("m/d/Y") }}</p>
                            <img src="{{ asset('uploads/' ~ new.illustration) }}" width="70%"alt="">
                            <p>{{ new.text }}</p>
                            <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#~~~~~~~~~~~~~#}


{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
</script>

{% endblock %}