{% block body %}
    <form method="post" action="" class="col-12">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nom d'une entreprise, d'une initiative..."
                   aria-label="Recipient's username" aria-describedby="basic-addon2" name="searchText">
            <div class="input-group-append">
                <input class="btn btn-outline-success" type="submit" value="Rechercher" name="indexSearch">
            </div>
        </div>
    </form>
    {# Mise en place des cartes #}
    <div class="container-fluid ml-0">
        {% if form == true and numResults > 1 %}
            <p class="font-italic">{{ numResults }} résultats pour votre recherche</p>
        {% elseif form == true %}
            <p class="font-italic">{{ numResults }} résultat pour votre recherche</p>
        {% endif %}
        <div class="row my-3">
            {% if form == true %}

            {% set count = 0 %}
            {# Cartes pour les ENTREPRISES #}
            {% for enterprise in enterprises %}
                <div class="card col-5 m-2 ">
                    <p class="bg-info mx-auto rounded">Entreprise</p>
                    <img class="card-img-top" src="{{ enterprise.logo }}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ enterprise.name }}</h5>
                        <h5 class="card-title">{{ enterprise.type.name }}</h5>
                        <p class="card-text">{{ enterprise.enterprisePres }}</p>
                        <a href="#" class="btn btn-primary">Consulter l'entreprise</a>
                    </div>
                </div>
                {% set count = count+1 %}
            {% endfor %}
        </div>
        {# Cartes pour les INITIATIVES #}
        <div class="row my-3">
            {% for initiative in initiatives %}
                <div class="card col-5 m-2">
                    <p class="bg-info mx-auto rounded">Initiative</p>
                    <img class="card-img-top" src="{{ initiative.illustration }}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ initiative.name }}</h5>
                        {% for odd in initiative.odd %}
                            <h5 class="card-title">{{ odd.name }}</h5>
                        {% endfor %}
                        <p class="card-text">{{ initiative.objective }}</p>
                        <a href="#" class="btn btn-primary">Consulter l'initiative</a>
                    </div>
                </div>
                {% set count = count+1 %}
            {% endfor %}
        </div>
        {# Cartes pour les THEMATIQUES ODD #}
        <div class="row my-3">
            {% for odd in odds %}
                <div class="card col-5 m-2">
                    <p class="bg-info mx-auto rounded">Thématique odd</p>
                    <div class="card-body">
                        <h5 class="card-title">{{ odd.name }}</h5>
                        <a href="#" class="btn btn-primary">Consulter la thématique</a>
                    </div>
                </div>
                {% set count = count+1 %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}