{% block body %}
    <div class="col-8">
        <div class="d-flex flex-wrap justify-content-center">
            {# Select qui permet d'accéder aux pages du site #}
            {% if is_granted('ROLE_CONSUMER') %}
                <div class="dropdown col-4 m-2">
                    <button class="btn btn-success dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Entrée Consommateur
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('initiative_new') }}">Déposer une initiative</a>
                        <a class="dropdown-item" href="{{ path('opinion_new') }}">Évaluer une entreprise</a>
                        <a class="dropdown-item" href="{{ path('expert_annuary') }}">Voir la liste des experts
                            référencés</a>
                    </div>
                </div>
            {% elseif is_granted('ROLE_EXPERT') %}
                <div class="dropdown col-4 m-2">
                    <button class="btn btn-success dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Entrée Expert
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('initiative_new') }}">Déposer une initiative</a>
                        <a class="dropdown-item" href="{{ path('opinion_new') }}">Évaluer une entreprise</a>
                        <a class="dropdown-item" href="{{ path('account_expert') }}">Se référencer comme conseil/expert</a>
                        <a class="dropdown-item" href="{{ path('expert_annuary') }}">Voir la liste des experts référencés</a>
                    </div>
                </div>
            {% elseif is_granted('ROLE_ENTERPRISE') %}
                <div class="dropdown col-4 m-2">
                    <button class="btn btn-success dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Entrée Entreprise
                    </button>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('enterprise_edit', {'id': app.user.enterprise.id }) }}">Déposer des informations sur mon entreprise</a>
                    <a class="dropdown-item" href="{{ path('expert_annuary') }}">Voir la liste des experts référencés</a>
                </div>
            {% endif %}
            <div class="dropdown col-4 m-2">
                <button class="btn btn-success dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Qui sommes-nous?
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path ('app_info') }}">Mission</a>
                    <a class="dropdown-item" href="{{ path ('app_info') }}">Équipe</a>
                    <a class="dropdown-item" href="{{ path ('app_info') }}">Nos valeurs</a>
                    <a class="dropdown-item" href="{{ path ('app_info') }}">Contact</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}