{% extends 'registration/form.html.twig' %}

{% block title %}Inscription consommateur{% endblock %}

{% block form %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(registrationForm) }}
    <div class="row my-3">
        <div class="container-fluid col-5">
            <div class="row col-8 offset-1 mx-auto">{{ form_label(registrationForm.firstName) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_errors(registrationForm.firstName) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_widget(registrationForm.firstName) }}</div>
        </div>
        <div class="container-fluid col-5">
            <div class="row col-8 offset-1 mx-auto">{{ form_label(registrationForm.lastName) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_errors(registrationForm.lastName) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_widget(registrationForm.lastName) }}</div>
        </div>
    </div>
    <div class="row my-3">
        <div class="container-fluid col-5">
            <div class="row col-8 offset-1 mx-auto"><label for="date">Votre date de naissance</label></div>
            {% if errorDate == 1 %}<div class="row col-8 offset-1 mx-auto"><ul><li>Veuillez renseigner votre date de naissance</li></ul></div>{% endif %}

            <div class="row col-8 offset-1 mx-auto"><input type="date" name="date" id="date"></div>
        </div>
        <div class="container-fluid col-5">
            <div class="row col-8 offset-1 mx-auto"><label for="geo">Votre zone géographique</label> </div>
            {% if errorGeo == 1 %}<div class="row col-8 offset-1 mx-auto"><ul></li>Veuillez renseigner votre zone géographique</li></ul></div>{% endif %}

            <div class="row col-8 offset-1 mx-auto"><input type="text" id="geo" name="geo"></div>
        </div>
    </div>

    <div class="row my-3">
        <div class="container-fluid col-5 ">
            <div class="row col-8 offset-1 mx-auto">{{ form_label(registrationForm.password.first) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_errors(registrationForm.password.first) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_widget(registrationForm.password.first) }}</div>
        </div>
        <div class="container-fluid col-5">
            <div class="row col-8 offset-1 mx-auto">{{ form_label(registrationForm.password.second) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_errors(registrationForm.password.first) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_widget(registrationForm.password.second) }}</div>
        </div>
    </div>

    <div class="row my-3">
        <div class="container-fluid col-5">
            <div class="row col-8 offset-1 mx-auto">{{ form_label(registrationForm.email) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_errors(registrationForm.email) }}</div>
            <div class="row col-8 offset-1 mx-auto">{{ form_widget(registrationForm.email) }}</div>
        </div>
        <div class="container-fluid col-5">
        </div>
    </div>



    <div class="row my-3">
        <div class="container-fluid col-5">
            <div class="rrow col-8 offset-1 mx-auto">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
        </div>
        <div class="container-fluid col-5">
            <div class="row col-8 offset-1 mx-auto">
                <button class="mx-auto my-3 btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}

    {#    <div class="row my-3">#}
    {#        <div class="container-fluid col-10">#}
{#        <input type="text" name="geo">#}
{#    </label>
    {#            <div class="row col-10 offset-1">#}
    {#            </div>#}
    {#            <div class="row col-10 offset-1">#}

    {#            </div>#}
    {#        </div>#}
    {#    </div>#}




{% endblock %}
