{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    <label>Nom de l'entreprise
        <input type="text" name="etp_name">
    </label>
    <label>Votre fonction au sein de cette entreprise
        <input type="text" name="contact_function">
    </label>
    <label>Le numéro de SIRET de l'entreprise
        <input type="number" name="SIRET">
    </label>

    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <select name="type">
        {% for type in types %}
            <option value="{{ type.id }}">{{ type.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
