{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid d-flex">
        <div class="container-fluid col-9">
            <div class="row">
                {# Inclusion de l'affichage des menus déroulants inérants aux rôles#}
                {% include '/home/roles.html.twig' %}
                {#~~~~~~~~~~~#}
                <div class="text-center">
                    <h4>Bienvenue sur BrandVisor!</h4>
                    <p>Le site ou exprimer ce que vous faites de bien pour la société et l'environnement en toute
                        transparence</p>
                </div>
                {# Inclusion du formulaire et affichage des résultats#}
                {% include '/home/research.html.twig' %}
            </div>
            {#~~~~~~~~~~#}

            <div class="container-fluid">
                {# Section "Les Objectifs"#}
                <div class="row text-center border border-dark">
                    {#Texte#}
                    <div class="col-6 my-auto ">
                        <h2>Les Objectifs</h2>
                        <p>Vous pensez que le partage des projets et des initiatives entre tous peut conduire à un monde
                            meilleur
                            Vous pensez qu'évaluer les entreprises et les marques sur leurs reponsabilités sociales et
                            environnementales va les inciter à s'améliorer
                            Vous pensez que les marques ont besoin de s'engager vers plus de transparence et ont des
                            choses
                            à
                            faire
                            valoir</p>
                    </div>
                    {#Image#}
                    <div class="col-6 my-auto border-left border-dark">
                        <img src="{{ asset('images/Baobabos-small.jpg') }}" alt="" width="100%">
                    </div>
                </div>
                {#~~~~~~~~~~~~~#}
                {# Section "Nous sommes tous acteurs du changement"#}
                <div class="row text-center border border-dark ">
                    {#Image#}
                    <div class="col-6 my-auto border-right border-dark">
                        <img src="{{ asset('images/Baobabos-small.jpg') }}" alt="" width="100%">
                    </div>
                    {#Texte#}
                    <div class="col-6 my-auto">
                        <h2>Nous sommes tous acteurs du changement</h2>
                        <p>Décrire les cibles : les entreprises, les consommateurs, les experts.</p>
                    </div>
                </div>
                {#~~~~~~~~~~~~~#}
                {# Section "Entreprises à l'honneur + initiatives les + likées"#}
                <div class="row text-center border border-dark ">
                    {#Entreprise par notes #}
                    <div class="col-6 my-auto border-right border-dark">
                        <h2>Entreprises à l'honneur</h2>
                        {% for enterpriseNote in enterpriseNotes %}
                            <a href="#"><img src="{{ enterpriseNote.logo }}" alt="" width="45%"></a>
                        {% endfor %}
                    </div>
                    {# Section "initiatives les + likées"#}
                    <div class="col-6">
                        <h2>Initiatives à l'honneur</h2>
                        {% for initiativeLike in initiativeLikes %}
                            <a class="text-decoration-none text-dark" href="#">
                                <h3 class="bg-lightGreen p-3 mt-3 rounded">{{ initiativeLike.name }}</h3>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {#~~~~~~~~~~~~~#}
            </div>
        </div>
        {# SideBar #}
        <div class="container-fluid col-3">
            {# Section "Challenge du Jour"#}
            <div class="row">
                <div class="mx-auto text-center">
                    <h2 class="">Challenge du Jour</h2>
                </div>
                <div class="card">
                    <div class="card-body p-2 bg-info">
                        <h4 class="card-title text-center">{{ dayChallenge.name }}</h4>
                        <p class="card-text text-center">{{ dayChallenge.description }}</p>
                        <p class="card-text text-center font-italic">Nombre de votes: {{ votes }}</p>
                        <a href="#" class="btn btn-dark card-link w-100">Voter pour ce challenge</a>
                        <a href="#" class="btn btn-dark card-link w-100 m-0 mt-1">Voir tous les challenges</a>
                    </div>
                </div>
            </div>
            {#~~~~~~~~#}
            {# Section "Thématique à l'honneur"#}
            <div>

            </div>
        </div>
        {#~~~~~~~~~~~~~#}
    </div>


{% endblock %}