
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.connectingStructure) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.connectingStructure) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.connectingStructure) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.adress) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.adress) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.adress) }}</div>#}
{#    </div>#}
{#</div>#}
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.phone) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.phone) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.phone) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.presentation) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.presentation) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.presentation) }}</div>#}
{#    </div>#}
{#</div>#}
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.illustration) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.illustration) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.illustration) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.website) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.website) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.website) }}</div>#}
{#    </div>#}
{#</div>#}
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.expertiseAreas) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.expertiseAreas) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.expertiseAreas) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.interventionZones) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.interventionZones) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.interventionZones) }}</div>#}

{#    </div>#}
{#</div>#}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="mx-auto col-3">
    <button class="btn mx-auto">{{ button_label|default('Save') }}</button>
</div> {{ form_end(form) }}