{% extends 'base.html.twig' %}

{% block body %}
    {% for opinion in opinions %}
        <div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ opinion.depositary.fullName }}</h4>
                    <p class="card-text">Avis sur {{ opinion.enterprise.name }}</p>
                    <p class="card-text">{{ opinion.text }}</p>
                    <p class="card-text"><small class="text-muted">Publié le {{ opinion.date|date("m/d/Y") }}</small></p>
                    <div class="row mx-auto d-flex justify-content-center">
                        <a href="{{ path('opinion_show', { 'id': opinion.id }) }}" class="mx-auto btn btn-primary">Consulter</a>
                        <a href="{{ path('validate_opinion',{'id':opinion.id}) }}" class="mx-auto btn btn-primary">Valider</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}
    Valider les Opinions
{% endblock %}

