{% extends 'base.html.twig' %}

{% block title %}ExpertArgumentation{% endblock %}

{% block body %}
    <h1>ExpertArgumentation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expert_argumentation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ expert_argumentation.date ? expert_argumentation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ expert_argumentation.text }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ expert_argumentation.illustration }}</td>
            </tr>
            <tr>
                <th>Links</th>
                <td>{{ expert_argumentation.links ? expert_argumentation.links|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ expert_argumentation.keywords ? expert_argumentation.keywords|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('expert_argumentation_index') }}">back to list</a>

    <a href="{{ path('expert_argumentation_edit', {'id': expert_argumentation.id}) }}">edit</a>

    {{ include('expert_argumentation/_delete_form.html.twig') }}
{% endblock %}
