{% extends 'base.html.twig' %}

{% block title %}Avis de {{ opinion.depositary.firstName }}{% endblock %}

{% block body %}
    <div class="container mt-4 mx-auto">
        <div class="row col-5 mb-5 mx-auto justify-content-center">
            <h3>Avis de {{ opinion.depositary.fullName }}</h3>
                {% if opinion.depositary.Expert != null %}
                    <p class="font-italic">( Organisation                  : {{ opinion.depositary.Expert.connectingStructure }} )</p>
                {% endif %}
                <h4>sur l'entreprise {{ opinion.enterprise.name }}</h4>
        </div>
        <div class="row col-10 my-auto mx-auto justify-content-center">
            <p>{{ opinion.text }}</p>
        </div>
    </div>

{% endblock %}
