{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="mx-auto col-3">
    <button class="btn mx-auto">{{ button_label|default('Save') }}</button>
</div> {{ form_end(form) }}

{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.name) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.name) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.name) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.illustration) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.illustration) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.illustration) }}</div>#}
{#    </div>#}
{#</div>#}
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.presentation) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.presentation) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.presentation) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.objective) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.objective) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.objective) }}</div>#}
{#    </div>#}
{#</div>#}
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.detailledDescription) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.detailledDescription) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.detailledDescription) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.partner) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.partner) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.partner) }}</div>#}
{#    </div>#}
{#</div>#}
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.links) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.links) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.links) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.website) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.website) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.website) }}</div>#}
{#    </div>#}
{#</div>#}
{#<div class="row my-3">#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-10 offset-1">{{ form_label(form.geographicArea) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_errors(form.geographicArea) }}</div>#}
{#        <div class="row col-10 offset-1">{{ form_widget(form.geographicArea) }}</div>#}
{#    </div>#}
{#    <div class="container-fluid col-5">#}
{#        <div class="row col-5 offset-1">{{ form_label(form.odd) }}</div>#}
{#        <div class="row col-8 offset-1">{{ form_errors(form.odd) }}</div>#}
{#        <div class="row col-8 offset-1">{{ form_widget(form.odd) }}</div>#}
{#    </div>#}
{#</div>#}