{% extends 'base.html.twig' %}

{% block title %}Initiative{% endblock %}

{% block body %}
    <h1>Initiative</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ initiative.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ initiative.name }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ initiative.illustration }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ initiative.presentation }}</td>
            </tr>
            <tr>
                <th>Objective</th>
                <td>{{ initiative.objective }}</td>
            </tr>
            <tr>
                <th>DetailledDescription</th>
                <td>{{ initiative.detailledDescription }}</td>
            </tr>
            <tr>
                <th>Partner</th>
                <td>{{ initiative.partner ? initiative.partner|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Links</th>
                <td>{{ initiative.links ? initiative.links|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ initiative.website }}</td>
            </tr>
            <tr>
                <th>GeographicArea</th>
                <td>{{ initiative.geographicArea }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ initiative.keywords ? initiative.keywords|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>IsConform</th>
                <td>{{ initiative.isConform ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('initiative_index') }}">back to list</a>

    <a href="{{ path('initiative_edit', {'id': initiative.id}) }}">edit</a>

    {{ include('initiative/_delete_form.html.twig') }}
{% endblock %}
