{% extends 'base.html.twig' %}

{% block title %}Engagement index{% endblock %}

{% block body %}
    <h1>Engagement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ActionText</th>
                <th>ActionDocuments</th>
                <th>ResultsText</th>
                <th>ResultsDocuments</th>
                <th>Benefits</th>
                <th>ProofText</th>
                <th>ProofDocuments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for engagement in engagements %}
            <tr>
                <td>{{ engagement.id }}</td>
                <td>{{ engagement.name }}</td>
                <td>{{ engagement.actionText }}</td>
                <td>{{ engagement.actionDocuments ? engagement.actionDocuments|join(', ') : '' }}</td>
                <td>{{ engagement.resultsText }}</td>
                <td>{{ engagement.resultsDocuments ? engagement.resultsDocuments|join(', ') : '' }}</td>
                <td>{{ engagement.benefits }}</td>
                <td>{{ engagement.proofText }}</td>
                <td>{{ engagement.proofDocuments ? engagement.proofDocuments|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('engagement_show', {'id': engagement.id}) }}">show</a>
                    <a href="{{ path('engagement_edit', {'id': engagement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('engagement_new') }}">Create new</a>
{% endblock %}
