{% extends 'base.html.twig' %}

{% block title %}Challenge{% endblock %}

{% block body %}
    <div class="text-center p-5">
        <h1>Challenge</h1>
    </div>
    <div class="container-fluid">
        <table class="table table-striped col-8 mx-auto">
            <tbody>
                <tr>
                    <th scope="row" class="font-weight-bold">Nom du challenge</th>
                    <td>{{ challenge.name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold">Entreprise</th>
                    <td>{# challenge.enterprise #}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold">Engagement</th>
                    <td>{# challenge.engagement #}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold">Description</th>
                    <td>{{ challenge.description }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold">Commentaire</th>
                    <td>{{ challenge.comment }}</td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold">Document</th>
                    <td><a href="{{ asset('challenge.documents') }}">{{ challenge.documents }}</a></td>
                </tr>
                <tr>
                    <th scope="row" class="font-weight-bold">Dépositaire</th>
                    <td>{# challenge.depositary #}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}
